{{< cloakemail "jane.doe@example.com" >}}


<!-- Additional Possible Parameters -->
<!--
{{< cloakemail address="+1 212 664-7665" protocol="tel" >}}
{{< cloakemail address="jane.doe@example.com" display="Send us a mail!" >}}
{{< cloakemail address="jane.doe@example.com" class="vip company-a" >}}
{{< cloakemail address="jane.doe@example.com" query="subject=Message from contact form" >}}
{{< cloakemail address="jane.doe@example.com" >}}
-->
