{{ printf "<%s>" (.Get 0) | safeHTML }}
{{ $.Scratch.Set "content" .Inner }}
{{ range where $.Site.Pages.ByPublishDate.Reverse ".Params.seo" "ne" nil }}
    {{ $tmpPage := . }}
    {{ range .Params.tags }}
        {{ $.Scratch.Set "content" (($.Scratch.Get "content") | replaceRE . (printf "<a href=\"%s\" title=\"%s\">%s</a>" $tmpPage.RelPermalink $tmpPage.Title . ) )  }}
    {{ end }}
{{ end }}
{{ $.Scratch.Get "content" | safeHTML }}
{{ printf "</%s>" (.Get 0) | safeHTML }}
