{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    {{ partial "article/progress" . }}
    
    <article  id="articleContent" class="post-content" style="position:relative;">
        
        {{ .Content }}
        
        {{ partial "categories.html" . }}
        
        <br>
        
        <div align="center"><h5 style="color:#CD2653;">Share On: </h5>{{partial "share.html" .}}</div>
        
    </article>
    
        {{ partial "commento.html" . }}
    
    <br>
    
    {{ partial "article/next.html" . }}
    
</section>

{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}
