{{ define "main" }}
<center>
  <h1 class="heading">{{ .Title }}</h1>
<Section class="section" relative id="Articles__Hero">
    <div class="heading-container">
      <img src="/images/1.jpg" width="300px">
        <h4>Hi, I'm Stephen Ajulu<br> an I.T Consultant, front end web developer, graphic designer, writer, editor and content creator based in Kenya.</h4>
      <p>I'm currently learning design(Web, UI, UX, Industrial and Graphic), illustration, photography, film making, animation, video editing, caligraphy, copywriting, web development, python, cloud computing, cybersecurity and golang</p>
    </div>
  <div class="articles-container">
    <p>
    {{ range first 5 .Site.RegularPages }}
    <a href="{{ .RelPermalink }}">{{ .Title }}<sup>{{ .Date.Format "Jan 2" }}</sup>&nbsp / &nbsp</a>
    {{end}}
    </p>
  </div>
</Section>
</center>
{{ end }}
