<!DOCTYPE html>
<html lang="en">

{{ partial "head/head.html" . }}

<body class="line-numbers">

    {{ $script := resources.Get "js/initColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <div class="layout-styled">

        {{ partial "header.html" . }}

        {{ block "main" . }}
        
        {{ end }}
        
        {{ partial "footer.html" . }}

    </div>

    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="{{ "js/search.js" | absURL }}"></script>
</body>

</html>
