<Section class="section" relative id="Articles__Hero">
    <div class="heading-container" style="max-width: 700px;">
        <h1>Stephen Ajulu</h1>
      <h2 style="color:#73737D;">An IT consultant, web developer, designer, writer & creator based in Kenya. Welcome to my blog!</h2>
    </div>
    <!--<div class="subheading-container">
        {{ partial "bio.html" . }}
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>-->
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
