<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
                  <br>
        <div align="center"><a href="/" style="font-weight:bolder;">Home</a> &nbsp; | &nbsp; <a href="/about" style="font-weight:bolder;">About</a></div>
        </div>
</div>
