<br>
        {{ partial "subscribe2.html" . }}

<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
<br>
&nbsp;
<br>
<div class="importantlinks" style="text-color:grey;color:grey;text-align:center;" align="center">
  <a href="/cookie-policy">Cookie Policy</a> | <a href="/disclaimer">Disclaimer</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms and Conditions</a> | <a href="/code-of-conduct">Code of Conduct</a>
</div>
        </div>
</div>

<!-- add this onMouseOver="this.style.color='red'"
onMouseOut="this.style.color='green'" to the links -->
