<br>
        {{ partial "subscribe2.html" . }}

<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>


<br>
<div class="importantlinks" style="text-align:center;text-color:#cd265380;color:#cd265380;" align="center">
  <h6><a href="/cookie-policy">Cookie Policy</a> | <a href="/disclaimer">Disclaimer</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms and Conditions</a> | <a href="/code-of-conduct">Code of Conduct</a></h6>
</div>
<br>


      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
        </div>
</div>

<!-- add this onMouseOver="this.style.color='red'"
onMouseOut="this.style.color='green'" to the links -->
