<Section class="section narrow">
    <div class="heading-container">
        <h3>Hi, I'm Stephen Ajulu</h3>
      <p>
I'm a 26 year old content creator, front end web developer, graphic designer and I.T consultant based in Kenya.
I also create, grow, represent and sell things e.g. brands, websites, graphic materials, courses, pdfs and more.
I'm currently learning design(Web, UI, UX, Industrial and Graphic), illustration, photography, film making, animation, video editing, caligraphy, copywriting, web development, python, cloud computing, cybersecurity, machine learning and golang.
          
      <form id="subscriptionForm" class="subscription-form narrow" action="{{ .Site.Params.formaction }}" method="POST" width="100%">
                <input
                  id="emailInput"
                  class="subscription-input"
                  placeholder="your@email.com"
                  name="email"
                  type="email"
                  required
                  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                />
                <button id="submitButton"
                  class="submit-button"
                  type="submit">
                    Subscribe
                </button>
                <div class="subscription-error-message">
                    The email you entered is not valid.
                </div>
            </form>
 
    </div>
</Section>
