<Section class="section narrow">
    <div class="heading-container">
        <p><img src="images/hero.png" alt="me" width="700px"></p>
        <h3>Hi, I'm Stephen Ajulu</h3>
      <p>
I'm a 26 year old content creator, front end web developer, graphic designer and I.T consultant based in Kenya.
I also create, grow, represent and sell things e.g. brands, websites, graphic materials, courses, pdfs and more.
I'm currently learning design(Web, UI, UX, Industrial and Graphic), illustration, photography, film making, animation, video editing, caligraphy, copywriting, web development, python, cloud computing, cybersecurity, machine learning and golang.
    </div>
</Section>
