<Section class="section narrow" relative id="Articles__Hero">
    <div class="heading-container">
        <h3>Hi, I'm Stephen Ajulu</h3>
      <p>
I'm a 26 year old content creator, front end web developer, graphic designer and I.T consultant based in Kenya.
I also create, grow, represent and sell things e.g. brands, websites, graphic materials, courses, pdfs and more.
I'm currently learning design(Web, UI, UX, Industrial and Graphic), illustration, photography, film making, animation, video editing, caligraphy, copywriting, web development, python, cloud computing, cybersecurity, machine learning and golang.
As for official education, after my K.C.S.E, i did a Certificate in Business Information Technology, a Certification in Fundamentals of System Troubleshooting, a Diploma in Information Technology, several micro certifications in Cybersecurity, Cloud Computing and Web Development plus a Local Certification in Ethical Hacking.
I'm still in University though studying a Bachelor of Science in Information Technology.
Please feel free to contact me via Email → alunje73@gmail.com if you would like us to work together on something, advertise here, submit an article idea, guest post or just say Hi!
      </p>
      <form id="subscriptionForm" class="subscription-form" action="{{ .Site.Params.formaction }}" method="POST">
                <input
                  id="emailInput"
                  class="subscription-input"
                  placeholder="your@email.com"
                  name="email"
                  type="email"
                  required
                  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                />
                <button id="submitButton"
                  class="submit-button"
                  type="submit">
                    Subscribe
                </button>
                <div class="subscription-error-message">
                    The email you entered is not valid.
                </div>
            </form>
    </div>
    <div class="subheading-container">
        {{ partial "bio.html" . }}

    </div>
</Section>
