<style>
.tableofcontents {
  float: right;
  width: 20%;
  top: 2rem;
  background: inherit;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
  position: sticky;
  align-self: start;
  }
  .tableofcontents a {
  color: #CD2653;
  font-size: 0.8em;
}
  .tableofcontents ul li{
 font-size: 0.8em;
}
</style>

<div class="tableofcontents">
  <h4>Table of Contents</h4>
  {{ .Page.TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
</div>
