
<section id="articleNext" class="section nartrow">
    <h3 class="footer-next-heading">Related articles from {{ .Site.Title }}</h3>
    <div class="footer-spacer"></div>
    <div class="next-articles-grid">
        <div class="post-row">
            {{ range first 2 .Site.RegularPages.Related }}
                <a href="{{ .RelPermalink }}" class="article-link">
                    <div>
                        <div class="image-container">
                            <img src="{{ .Params.hero }}" class="article-image" />
                        </div>
                        <div>
                            <h2 class="article-title">
                                {{ .Params.title }}
                            </h2>
                            <p class="article-excerpt">
                                {{ .Params.excerpt }}
                            </p>
                            <div class="article-metadata">
                                {{ .Date | dateFormat "January 2, 2006" }} · {{ .ReadingTime }} min read
                            </div>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>
</section>
