{{/* layouts/shortcodes/peek.html */}}

{{ $peek := .Site.GetPage (.Get 0) }}
<a href="{{ $peek.RelPermalink }}"
   alt="{{ $peek.Title | markdownify }}" class="peek">
  {{ with $peek.Params.hero }}
  {{ with $peek.Resources.GetMatch . }}
  {{ if eq .ResourceType "image" }}
    <div class="peek-hero">
    <img src="{{ (.Fill "128x128").RelPermalink }}"
         alt="{{ $peek.Title | markdownify }}">
    </div>
  {{ end }}{{ end }}{{ end }}
  <div class="peek-lead">
  <p class="peek-title">{{ $peek.Title | markdownify }}</p>
  {{ with $peek.Description }}
    <p>{{ . | markdownify | truncate (cond (isset $peek.Params "hero")
			"150" "300") "…" }}</p>
  {{ end }}
  </div>
</a>
