<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 60px;
  background-color: rgba(17, 17, 17, 0.98);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Playfair Display', serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/" class="article-title">Home</a>
  <a href="/about" class="article-title">About</a>
  <a href="/contact" class="article-title">Contact</a>
  <a href="/cookie-policy" class="article-title">Cookie Policy</a>
  <a href="/disclaimer" class="article-title">Disclaimer</a>
  <a href="/privacy-policy" class="article-title">Privacy Policy</a>
  <a href="/terms-and-conditions" class="article-title">Terms and Conditions</a>
  <a href="/code-of-conduct" class="article-title">Code of Conduct</a>
  <a href="/index.xml" class="article-title">RSS Feed</a>
  <a href="/sitemap.xml" class="article-title">Sitemap</a>
  <a href="https://stephenajulu.com"class="article-title" >Personal Website</a>
  <a href="https://anchor.fm/stephenajulu" class="article-title">Podcast</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="icon-wrapper">{{ partial "icons/ui/menu3.html"}}</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

/* Close/hide the sidenav */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
